* {
  box-sizing: border-box;
}

.container {
  height: 100vh;
  background-color: aquamarine;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container__block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 8rem;
  background-color: crimson;
  border-radius: 0.8rem 0.5rem;
}

.container__btn a {
  text-decoration: none;
  color: chartreuse;
}

.container__btn i {
  text-decoration: none;
  color: rgb(6, 43, 41);
}
